* {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

body{
    background: url("../img/sky_bg.png") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card {
    width: 640px;
    height: 400px;
    background: linear-gradient(124.42deg, rgba(255, 255, 255, 0.4) 11.78%, rgba(255, 255, 255, 0.1) 81.8%);
    box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    padding: 60px;
    border: 1px solid #C35F48;
    mix-blend-mode: overlay;

}

.middle_card {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.045em;
    color: #FFFFFF;
}

.about_date {
    margin-top: 7px;
}

.down_card {
    margin-top: 190px;
    align-items: center;
}

.logo {
    width: 48px;
    height: 49px;
}